[submodule "asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "deps/Catch"]
	path = deps/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "deps/plog"]
	path = deps/plog
	url = https://github.com/SergiusTheBest/plog.git
